header {
    display: flex;
    background-color: black;
    border-radius: 40px;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 15px;
    color: white;
}